<?xml version="1.0" encoding="utf-8"?>
<config>
  <resourceConfig dir="asset">
    <resources dir="/swf">
      <add id="testBind" src="testBind.swf" type="swf" />
      <add id="testResource" src="testResource.swf" type="swf" />
    </resources>
    <resources dir="/image">
      <add id="pic" src="pic.jpg" type="swf"/>
    </resources>
    <resources dir="data/kk">
      <add id="SkillEffect"  src="SkillEffect.kk" type="bin"/>
      <add id="SkillDict"  src="SkillDict.kk" type="bin"/>
      <add id="中文"  src="中文.kk" type="bin"/>
    </resources>
    <resources dir="data">
      <add id="dataInterface" src="dataInterface.txt"  type="text" />
      <add id="zh_cn" src="zh_cn.xml" type="text" />
      <add id="zh_cn2" src="zh_cn2.xml" type="text" />
      <add id="entries" src="entries"  type="text" />
    </resources>
	<resources dir="/lua">
      <add id="lua" src="test.lua" type="text" />
    </resources>
  </resourceConfig>

  <scene>
    <add id="default" className="ui.scene.DefaultScene" link="DefaultScene" resourceId="testBind,testResource" default="true" />
    <add id="game" className="ui.scene.GameScene" link="GameScene" resourceId="testBind" />
  </scene>
  
  <appSettings>
    <add key="frameRate" value="30"/>
    <add key="debugMode" value="true"/>
    <add key="version" value="1.0.0.1"/>
  </appSettings>

  <appParameters>
    <add key="gameName" value="卡卡"/>
    <add key="root" value="../../res"/>
  </appParameters>

  <customSettings>
    <add key="testKey1" value="haha"/>
    <add key="testKey5" value="hah55a"/>
  </customSettings>
</config>
